<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="jumbotron" style="color:black">
        <h1 style="color: black">
            News Highlights
        </h1>

    </div>
    <div class="card" style="width: 18rem;">
        <div class="container" style="margin-left:25%;padding:1px 16px;height:1000px;">
            {% for new, des, url, in context %}
            <img src="{{ i }}" alt="{{ title }}">
            <h3>News: {{ new}}</h3>
            <p>Description: {{ des}}</p>
            <button><a href="{{url}}">Read more</a></button>
            {% endfor %}
        </div>
    </div>
    <div class="categories col-md-6" style="margin-top:-50%;">

        <ul>
            <li><a class="{{url}}">Health</a></li>
            <li><a href="{{url}}">Entertainment</a></li>
            <li><a href="{{url}}">Sports</a></li>
            <li><a href="{{url}}">politics</a></li>
        </ul>

    </div>
</body>

</html>