<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
        <div class="jumbotron" style="color:black">
            <h1 style="color: black">
                News Highlights
            </h1>
        </div>
            
        <div class="container" style="margin-left:25%;padding:1px 16px;height:1000px;">
            {% for new, des, img, url in context %}
                <img src="{{img}}" alt="{{ title }}" class="img-fluid">
                <h3>News:</h3> {{new}}
                <p>Description: {{ des}}</p>
                <p>Published On: {{pubAt}}</p>
                <p><a href="{{url}}" class="btn-primary p-2">Read more</a></p>
            {% endfor %}
        </div>

        <div class="categories col-md-6" style="margin-top:-50%;">
        
                <ul>
                    <li><a class="{{url}}">Health</a></li>
                    <li><a href="{{url}}">Entertainment</a></li>
                    <li><a href="{{url}}">Sports</a></li>
                    <li><a href="{{url}}">politics</a></li>
                </ul>
        
            </div>
</body>
</html>